---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Foco Conference - Crea tu sala.">
	<main>
		<form id="form-create-room">
			<label>
				<span>Nombre de la sala</span>
				<input type="text" name="roomName" />
			</label>

			<button type="submit">Crear sala</button>
		</form>
	</main>
</Layout>

<script>
	const $form = document.querySelector('#form-create-room')

	if ($form instanceof HTMLFormElement) {
		$form.addEventListener('submit', (e) => {
			e.preventDefault()
			const data = new FormData($form)

			data.get('roomName') && window.location.assign(`/${data.get('roomName')}`)
		})
	}
</script>